{% extends "base.html" %}

{% block content %}

<section class="card">
    <h2>Create account</h2>

    <form method="post">
        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >

        <label>
            Username
            <input
                name="username"
                required
                minlength="3"
            >
        </label>

        <label>
            Password
            <input
                type="password"
                name="password"
                required
                minlength="12"
            >
        </label>

        <button type="submit">
            Register
        </button>
    </form>

    <p>
        <a href="{{ url_for('auth.login') }}">
            Already registered?
        </a>
    </p>
</section>

{% endblock %}
